PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=viborita
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=tu_clave_super_secreta_cambiar_en_produccion
CORS_ORIGIN=http://localhost:5173
